{% if stusu_list %}
<p>Add an exam for {{ stusu_list.0.student }}</p><br>

<form action="{% url 'AddedExam' stusu_list.0.student.klasse.id %}" method="post">
    {% csrf_token %}
    <p>Subject:</p>
    {% for stusu in stusu_list %}
        <input type="radio" name="stusu" value="{{ stusu }}">{{ stusu.subject }}<br>
    {% endfor %}
    <br><br>
    <label for="Name">Enter Exam-Name:</label><br>
    <input id="name" type="text" name="name"><br><br>
    <label for="grade">Grade:</label><br>
    <input id="grade" type="number" name="grade"><br><br>
    <label for="value">Value:</label><br>
    <input id="value" type="number" name="value"><br><br>
    <input type="submit" value="Save">
</form>
{% else %}
<p>You are not supposed to be here!</p>
<a href="{% url 'BackHome' %}">Go back</a>
{% endif %}