{% if stuxam_list %}
<p>Deine Noten</p>
{% for stusu in stuxam_list %}
<br>
<p>{{ stusu.0.stusu.subject.name }}</p>
<table>
    <tr>
        <th>Exam Type</th>
        <th>Mark</th>
    </tr>
    {% for exam in stusu %}
        <tr>
            <td>{{exam.name}}</td>
            <td>{{exam.grade}}</td>
        </tr>
    {% endfor %}
</table>
{% endfor %}
{% else %}
<p>You ate all my beans nigga</p>
{% endif %}
<br><br>
<a href="{% url 'ClassTeacher' stuxam_list.0.0.stusu.student.id %}">Go back</a>
